<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'name' %}" method="POST">
        {% csrf_token %}
        <label>Name:<input type="text" name="name" required></label>
        <button>submit</button>
    </form>
    {% if request.method == "POST" %}
    {% if name == "Adele" %}
        <p>Hello form the other side</p>
    {% else %}
        <p>Hello</p>
    {% endif %}
    {% endif %}
</body>
</html>